// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --primary: #545971; // Site main color - (Основний колір сайту)
  --secondary: #171921; // Site secondary color - (Додатковий колір сайту)
  // Background colors (Фонові кольори):
  // =================================================================
  --bg-primary: #142257; // BG primary background color - (Основний фоновий колір сайту)
  --bg-secondary: #1F3584; // BG secondary background color - (Додатковий фоновий колір сайту)
  --bg-accent: #15B2F5;// BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.

  // Text colors (Текстові кольори):
  // =================================================================
  --text-primary: #fbfffe; // Text primary text color - (Основний текстовий колір сайту)
  --text-secondary: #9EA3B5; // Text secondary text color - (Додатковий текстовий колір сайту)
  --text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
  --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
  --text-grey: #E3E6F0;
  // =================================================================
}
